<app-review />
--------------------
<app-sem-diretiva />
--------------------
<app-com-diretiva />
    <!---Com CSS-In-Line...ou com o atributo Style-->
<p style="background-color: orange; color:white;">Parágrafo normal</p>
    <!---Com Attribute binding-->
<p [attr.style]="'background-color: red; color:blue;'">Parágrafo normal</p>
    <!---Com Property binding-->
<p [style]="'background-color: gray; color:orange;'">Parágrafo normal</p>
    <!---Com objeto no Property binding-->
<p [style]="{
backgroundColor: 'black',
color: 'white',
}">Parágrafo normal</p>

     <!---Com HostBinding-->
<p appStyle> Parágrafo normal </p>

<!---Com o class, normal-->
<p class="meu-texto meu-size"> Parágrafo normal </p>

<!---Com o attribute binding-->
<p [attr.class]="'meu-texto'"> Parágrafo normal </p>

<!---Com o property binding-->
<p [className]="'meu-texto meu-size'"> Parágrafo normal </p>

<!---Com property binding + objeto como parâmetro-->
<p [class]="{
    'meu-texto': true,
    'meu-size': true
}"> Parágrafo normal </p>

<!---Com diretiva-->
<p appClass> Parágrafo normal </p>

<!---HostListener-->
<input appListener #meuInput/>
<button [disabled]="!botaoHabilitado">Enviar!</button>
<br>
<input appInputBackground
[bgColor]=appBgColor 
tColor="white"
/>
<br>
<input appInputBackground
bgColor="blue" 
tColor="white"
/>